/* styles.css */
.container {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}

.container img {
    margin: 10px; /* Отступ между изображениями */
}

.float-image {
    float: left; /* или right, если хотите обтекание с правой стороны */
    margin: 0 15px 15px 0; /* Отступы вокруг изображения */
    min-widgh: 300px
}
