<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/css/imagestyles.css" | relative_url }}">
  </head>
  <body>
    {{ content }}

      <script>
        function adjustFontSize() {
            const width = window.innerWidth;
            const body = document.body;

            if (width < 576) {
                body.style.fontSize = '13px';
            } else if (width < 768) {
                body.style.fontSize = '14px';
            } else if (width < 992) {
                body.style.fontSize = '15px';
            } else if (width < 1200) {
                body.style.fontSize = '16pt';
            } else {
                body.style.fontSize = '18pt';
            }
        }

        window.addEventListener('resize', adjustFontSize);
        window.addEventListener('load', adjustFontSize); // вызов функции при загрузке страницы
    </script>
  </body>
</html>
